@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:wght@300;400;600;700&display=swap');

/* ЦВЕТА И ТЕНИ */
:root {
    --background-color: white;
    --aside-color: #415067;

    --text-color-main: #415067;
    --text-color-secondary: #232b38;
    --text-color-accent: #f9fbff;
    --text-color-nav: #edeff4;
    --text-color-nav-accent: #a8a8a9;
    --text-color-bg: #c6a179;
}

/* Типография */


/* СТИЛИ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr 2fr 250px;
    height: 100vh;
    position: relative;
    background: var(--background-color);
    margin-bottom: 150px;
}

.header__logo {
    position: absolute;
    top: 80px;
    left: 200px;
    zoom: 120%;
}

.header__title {
    position: absolute;
    left: 200px;
    bottom: 180px;
}

.header__title--text-style {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.header__title-line {
    margin-left: 20px;
    color: var(--text-color-main);
}

.header__title-line--accent {
    padding: 3px 20px 3px 20px;
    color: var(--text-color-accent);
    background: var(--text-color-bg);
}

.header__banner {
    grid-column: 2;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.header__aside {
    grid-column: 3;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--aside-color);
}

.header__icon {
    position: absolute;
    top: 160px;
    left: 30px;
    height: 28px;
    width: 28px;
    object-fit: contain;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nav__link {
    text-decoration: none;
    color: var(--text-color-nav);
    transition: color 0.1s ease;
}

.nav__link:hover {
    color: var(--text-color-nav-accent);
}

.nav__link--text-style-main {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
}

.nav__link--text-style-secondary {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

/* Characteristics */
.characteristics {
    display: flex;
    margin: 150px 0;
    flex-direction: column;
    align-items: center;
}

.characteristics__description {
    color: var(--text-color-main);
}

.characteristics__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

.characteristics__title {
    margin-bottom: 100px;
    color: var(--text-color-main);
}

.characteristics__title--text-style {
    font-family: 'Montserrato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0;
}

.characteristics__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
}

.characteristic {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 30px;
}

.characteristic__img {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.characteristic__title {
    margin-top: 50px;
    margin-bottom: 10px;
    color: var(--text-color-secondary);
}

.characteristic__title--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
}

.characteristic__description {
    color: var(--text-color-secondary);
}

.characteristic__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}

/* Tastes */
.tastes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
}

.tastes__description {
    color: var(--text-color-main);
}

.tastes__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

.tastes__title {
    margin-bottom: 80px;
    color: var(--text-color-main);
}

.tastes__title--text-style {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0;
}

.tastes__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 80%;
}

.taste {
    flex: 1 1 calc(50% - 40px);
    min-width: 250px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.taste:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.taste__img {
    object-fit: contain;
}

.taste__content {
    margin: 0 40px 0 40px;
}

.taste__title {
    color: var(--text-color-main);
}

.taste__title--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
}

.taste__description {
    margin-top: 20px;
    margin-bottom: 15px;
    color: var(--text-color-secondary);
}

.taste__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}

/* Gift-set */
.gift-sets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0 150px 0;
}

.gift-sets__description {
    color: var(--text-color-main);
}

.gift-sets__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

.gift-sets__title {
    color: var(--text-color-main);
    margin-bottom: 80px;
}

.gift-sets__title--text-style {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0;
}

.gift-set {
    max-width: 70vw;
    display: flex;
}

.gift-set__content {
    padding-left: 70px;
}

.gift-set__title {
    margin-bottom: 20px;
    color: var(--text-color-secondary);
}

.gift-set__title--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0;
}

.gift-set__description {
    color: var(--text-color-secondary);
    margin-bottom: 40px;
}

.gift-set__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}

.gift-characteristics {
    display: flex;
    gap: 200px;
    margin-bottom: 40px;
}

.gift-characteristic {
    display: flex;
    gap: 20px;
}

.gift-characteristic__title--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0;
}

.gift-characteristic__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
}

/* Combo-sets */
.combo-sets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
}

.combo-sets__description {
    color: var(--text-color-main);
}

.combo-sets__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

.combo-sets__title {
    color: var(--text-color-main);
    margin-bottom: 80px;
}

.combo-sets__title--text-style {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 34px;
    letter-spacing: 0;
}

.combo-sets__cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 80%;
    flex-wrap: wrap;
}

.combo-set {
    flex: 0 1 calc(33.333% - 40px);
    min-width: 280px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--background-color);
}

.combo-set:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.combo-set__prices {
    padding: 20px 20px 10px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.combo-set__old-price {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    text-decoration: line-through;
}

.combo-set__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.combo-set__content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.combo-set__title {
    color: var(--text-color-main);
    margin-bottom: 15px;
}

.combo-set__title--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
}

.combo-set__description {
    color: var(--text-color-secondary);
    margin-bottom: 20px;
    flex-grow: 1;
}

.combo-set__description--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0;
}

/* Footer */
.footer {
    background-color: var(--aside-color);
    color: var(--text-color-nav);
    text-align: center;
    padding: 30px 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
}

/* Price */
.price {
    margin-bottom: 10px;
    color: var(--text-color-bg);
}

.price--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
}

/* Buttons */
.button-case {
    display: flex;
    gap: 10px;
}

.button {
    border: none;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    background-color: var(--background-color);
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: var(--text-color-nav-accent);
}

.button--text-style {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
}

.button_primary {
    color: var(--background-color);
    background: var(--text-color-bg);
}

.button_secondary {
    color: var(--text-color-main)
}